.App {
  text-align: center;
}
.selectControl_root {
  position: relative;
  cursor: crosshair;
  display: inline-block
}
.selectControl_area {
  position: absolute;
  outline: 1px solid red;
  outline-style: dotted;
  cursor: all-scroll
}